<div class="ki-gericht-card">
  <div class="ki-gericht-card__image">
    <img src="{{ imagePath }}" />
  </div>
  <div class="ki-gericht-card__header">{{ gericht.name }}</div>
  <div class="ki-gericht-card__subheader">{{ gericht.teaser }}</div>
  <div class="ki-gericht-card__order">
    <input class="ki-gericht-card__order--input" value="1" [disabled]="true" />
    <kopla-button class="ki-gericht-card__order--button">Bestellen</kopla-button>
  </div>
  <div class="ki-gericht-card__more">Mehr erfahren</div>
</div>
