.ki-gericht-card {
  width: 310px;
  height: 420px;
  margin: 5px;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  box-shadow: 0px 8px 13px rgba(0, 0, 0, 0.13);
  border-radius: 1px;
  position: relative;
}

.ki-gericht-card__header {
  margin:12px 24px 8px 24px;
  min-height: 56px;
  font-size: 20px;
}
.ki-gericht-card__subheader {
  margin:0px 24px 0px 24px;
  font-size: 14px;
  min-height: 40px;

}

.ki-gericht-card__image {
  margin: 14px 40px 23px 40px;
}
.ki-gericht-card__image > img {
  width: 100%;
  min-height: 154px;
}


.ki-gericht-card__order{
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
}

.ki-gericht-card__order--input{
  width: 56px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #C4C4C4;
  border-radius: 4px;
  margin-left: 24px;
  margin-right: 14px;
  text-align: center;
  font-size: 14px;
}
.ki-gericht-card__order--button{
  width: 56px;
  height: 40px;
  margin-right: 24px;
  min-width: 180px;
  button{
    width: 100%;
    border-radius: 4px;
    font-size: 14px;
  }
}

.ki-gericht-card__more{
  position: absolute;
  bottom: 0px;
  margin-bottom: 15px;
  margin-left: 24px;
  color: #F07D00;
  font-size: 14px;

}
