<div class="ki-error kopla-page">
  <div class="kopla-app-intro">
    <h2 class="kopla-app-intro__title">{{ 'kopla.common.ERROR_OCCURRED' | translate }}</h2>

    <p class="kopla-app-intro__description">
      {{ 'kopla.common.ERROR_INFO' | translate }}
    </p>
    <button class="kopla-button kopla-button--cta" (click)="onClick()">
      {{ 'kopla.common.NEW_CONFIGURATION' | translate }}
    </button>
  </div>
</div>
