<div class="ki-day-overview">
  <div class="ki-day-overview-wrapper" >
    <ki-gericht-card *ngFor="let gericht of gerichte" [gericht]="gericht"></ki-gericht-card>
  </div>
</div>

<kopla-dialogs>

</kopla-dialogs>
