<div class="ki-app kopla-app container-fluid">
  <ki-header-menu
    [homepageUrl]="homepageUrl"
    [imprintUrl]="imprintUrl"
    [imprintLabel]="'kopla.footer.IMPRINT' | translate"
    [dataPrivacyUrl]="dataPrivacyUrl"
    [dataPrivacyLabel]="'kopla.common.DATA_PRIVACY' | translate"
  >
  </ki-header-menu>
  <ki-toolbar></ki-toolbar>
  <div class="kopla-main row">
    <div class="kopla-toasts">
      <kopla-toast
        *ngFor="let toast of notificationService.toastsObs | async"
        [label]="toast.label"
        [type]="toast.type"
        [visible]="toast.visible"
        [clickHandler]="toast.clickHandler"
        [linkLabel]="toast.linkLabel"
        [timeout]="toast.timeout"
      >
      </kopla-toast>
    </div>
    <div class="kopla-notifications">
      <kopla-notification
        *ngFor="let notification of notificationService.notificationsObs | async"
        [label]="notification.label"
        [type]="notification.type"
        [visible]="notification.visible"
        [clickHandler]="notification.clickHandler"
        [linkLabel]="notification.linkLabel"
      >
      </kopla-notification>
    </div>
    <router-outlet></router-outlet>
  </div>
  <kopla-footer [imprintUrl]="null" [dataPrivacyUrl]="null"> </kopla-footer>
  <kopla-cookie-policy> </kopla-cookie-policy>
</div>
