@import '~kopla_app/scss-import/variables';

.ki-app {
  font-family: Roboto;

  .ki-hiddenFileInput {
    display: none;
  }
  label.ki-hiddenFileInputLabel:hover {
    cursor: pointer;
  }
}

.kopla-app--fs .kopla-main {
  width: auto;
  max-width: none;
}

@media (max-width: $kopla-ms-media-min-width - 1) and (min-width: $kopla-s-media-min-width) {
  .kopla-section--action .kopla-button:first-child {
    float: right;
    margin-bottom: 0;
  }
  .kopla-section--action .kopla-button {
    width: auto;
  }
}
