<kopla-header
  koplaMoveOnScroll
  [title]="'<span class=\'title1\'>'+('ki.app.TITLE1' | translate)+'</span><span class=\'title2\'>'+('ki.app.TITLE2' | translate) + '</span>'"
  [subTitle]="'ki.app.SUB_TITLE' | translate"
  [url]="homepageUrl"
>
</kopla-header>
<kopla-about [versions]="versions"></kopla-about>
