.ki-home {
  color: #363636;
  font-size: 26px;
}
.ki-home__second {
  color: #f07d00;
}

.ki-home__header{
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 26px;
}

.ki-home__description{
  font-size: 18px;
}

