<div class="ki-home">
  <div class="ki-home__header">
    <span>{{ 'ki.app.TITLE1' | translate }}</span>
    <span class="ki-home__second">{{ 'ki.app.TITLE2' | translate }}</span>
    <span> - {{ 'ki.app.SUB_TITLE' | translate }}</span>
  </div>
  <div class="ki-home__description">
    {{ 'ki.home.DESCRIPTION' | translate }}
  </div>
  <ki-day-component [gerichte]=""></ki-day-component>
</div>
